@import '../../styles/variables';
@import '../../styles/mixins';

.landingCTA {
	align-items: stretch;
	animation: backgroundMove 25s ease infinite;
	background: linear-gradient(338deg, #dfd988, #95e29c, #9ed7e8, #e770a0);
	background-size: 800% 800%;
	display: flex;
	height: 100vh;
	left: 0;
	padding: $spacing_base;
	position: absolute;
	top: 0;
	width: 100%;
	&:before {
		background: rgb(255,255,255);
		background: linear-gradient(165deg, rgba(255,255,255,1) 15%, rgba(255,255,255,0) 100%);
		content: '';
		height: 100vh;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
	&_content {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 2;
	}
	&_logo {
		height: 55px;
		margin-bottom: $spacing_base;
		@include mobile {
			height: 40px;
		}
	}
	&_img {
		filter: grayscale(100%);
		height: 100vh;
		left: 0;
		mix-blend-mode: screen;
		opacity: 0.8;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}
	h1 {
		font-size: $font_size_xl;
		line-height: $line_height_base;
		margin-bottom: $spacing_xxl;
		text-align: center;
		width: 50%;
		@include max_tablet {
			font-size: $font_size_l;
			width: 80%;
		}
		@include mobile {
			font-size: $font_size_m;
			margin-bottom: $spacing_base;
			width: 90%;
		}
	}
	.button:not(.button_inverse) {
		@include min_tablet {
			font-size: $font_size_l;
			font-weight: $font_weight_mediumBold;
			padding: $spacing_s $spacing_l;
		}
	}
	.button_inverse {
		background-color: transparent;
		margin-top: $spacing_m;
		@include mobile {
			font-size: $font_size_xxs;
			margin-top: $spacing_s;
			padding: 8px 13px;
		}
	}
}

@keyframes backgroundMove {
	0% { background-position: 25% 0% }
	50% { background-position: 76% 100% }
	100% { background-position: 25% 0% }
}