@import '../../styles/variables';

.listBooks {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: $spacing_base;
	grid-row-gap: $spacing_m;
	margin-top: $spacing_m;
	&_item {
		border-radius: $radius_s;
		cursor: pointer;
		text-align: center;
		transition: all $transition_duration;
		&:hover, &__sel {
			transform: scale(1.08);
		}
		&__sel {
			.listBooks_cover {
				box-shadow: 0 0 1px 1px $color_base;
			}
		}
	}
	&_cover {
		align-items: center;
		border-radius: $radius_l;
		display: flex;
		height: 180px;
		justify-content: center;
		margin: 0 auto $spacing_xs;
		padding: 21% 20% 23%;
		position: relative;
		width: 100%;
		img {
			border-radius: $radius_m;
			box-shadow: 0 4px 10px 1px $color_base_medium;
			display: block;
			width: 100%;
		}
	}
	&_title {
		font-size: $font_size_s;
		font-weight: $font_weight_bold;
		line-height: $line_height_xs;
	}
	&_author {
		color: $color_base_extramedium;
		font-size: $font_size_xxs;
		font-style: italic;
		line-height: $line_height_s;
		margin-top: 2px;
	}
	&_other {
		background: $color_background;
		border-radius: $radius_base $radius_base 0 0;
		bottom: 0px;
		display: inline-block;
		font-size: $font_size_xxxs;
		font-weight: $font_weight_mediumBold;
		line-height: $line_height_xxs;
		padding: 4px 9px 2px;
		position: absolute;
		text-transform: uppercase;
	}
}