@import '../../variables';

.searchBox {
	align-self: center;
	display: flex;
	margin-bottom: $spacing_xl;
	.input, .button {
		margin-top: 0;
	}
	.input {
		flex-grow: 1;
		&_field {
			border-radius: $radius_base 0 0 $radius_base;
		}
	}
	.button {
		border-radius: 0 $radius_base $radius_base 0;
	}
}