@import '../../styles/variables';

.button, .button_inverse, .button_neutral, .button_transparent, .button_small {
	background-color: $color_highlight;
	border: 1px solid $color_highlight;
	border-radius: $radius_s;
	color: $color_background;
	cursor: pointer;
	font-size: $font_size_xs;
	font-weight: $font_weight_bold;
	letter-spacing: 1px;
	padding: 11px 17px;
	text-transform: uppercase;
	transition: all $transition_duration;
	&:hover {
		background-color: $color_highlight_dark;
		border-color: $color_highlight_dark;
	}
	&_inverse {
		background-color: $color_background;
		color: $color_highlight;
		&:hover {
			color: $color_background;
		}
	}
	&_neutral {
		background-color: $color_base_medium;
		border-color: $color_base_medium;
		&:hover {
			background-color: $color_base_extramedium;
			border-color: $color_base_extramedium;
		}
	}
	&_transparent {
		color: $color_highlight;
		padding-left: $spacing_s;
		padding-right: $spacing_s;
		&, &:hover {
			background-color: $color_background;
			border-color: $color_background;
		}
		&:hover {
			color: $color_highlight_dark;
		}
	}
}