@import '../../styles/variables';

.bookCardFull {
	align-items: flex-start;
	border-radius: $radius_l;
	display: flex;
	padding: 6%;
	width: 100%;
	&_cover {
		margin-right: $spacing_xxl;
		width: 25%;
		img {
			border-radius: $radius_m;
			box-shadow: 0 4px 10px 1px $color_base_medium;
			display: block;
			width: 100%;
		}
	}
	&_content {
		width: calc(100% - 32% - 30px);
	}
	&_title {
		font-size: $font_size_xxl;
		font-weight: $font_weight_bold;
		line-height: $line_height_xs;
		margin-bottom: $spacing_base;
	}
	&_data {
		p {
			margin-top: $spacing_xxs;
		}
	}
	&_description {
		font-style: italic;
		margin-top: $spacing_s;
	}
	&_action {
		margin-top: $spacing_base;
	}
}