@import '../../variables';

.inputUrl {
	margin-top: 25px;
	&_field {
		border: 1px solid $color_base_light;
		border-radius: $radius_base;
		display: flex;
		position: relative;
		width: 100%;
		label {
			background-color: $color_background;
			font-size: $font_size_xs;
			font-weight: 600;
			left: 10px;
			padding: 0 5px;
			position: absolute;
			top: -8px;
		}
		input {
			font-size: $font_size_base;
			flex-grow: 1;
			padding: 15px 15px 15px 5px;
		}
		::placeholder {
			color: $color_base_medium;
		}
	}
	&_start {
		color: $color_base_medium;
		font-size: $font_size_xxs;
		padding: 18px 0 12px 15px;
	}
	&.inputUrl_error {
		.inputUrl_field {
			border-color: $color_error;
			label {
				color: $color_error;
			}
		}
	}
	&_errorMessage {
		color: $color_error;
		font-size: $font_size_xs;
		margin-left: 15px;
		margin-top: 5px;
	}
}