@import '../../variables';

.modal {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 100vh;
	transition: opacity 0.2s;
	width: 100vw;
	z-index: 10;
	&_content {
		background-color: white;
		border-radius: 5px;
		padding-bottom: 30px;
		position: relative;
		width: 60%;
	}
	&_scrollBox {
		max-height: 75vh;
		overflow-y: auto;
		padding-left: 30px;
		padding-right: 30px;
	}
	&_title {
		border-bottom: 1px solid $color_base_light;
		font-size: $font_size_l;
		font-weight: 600;
		margin: 0 0 20px;
		padding: 20px 30px;
	}
	&_closeButton {
		background: none;
		border: 0;
		cursor: pointer;
		font-size: 36px;
		line-height: 0;
		position: absolute;
		right: 26px;
		top: 30px;
		transition: all 0.2s;
		&:hover {
			transform: rotate(90deg);
		}
	}
	&.open {
		opacity: 1;
		top: 0;
	}
}