@import '../../styles/variables';

.header {
   .container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: $spacing_xl;
      padding-bottom: $spacing_base;
      padding-top: $spacing_base;
   }
   &_logo {
      margin-right: auto;
      img {
         height: 28px;
         margin-right: 8px;
         vertical-align: baseline;
      }
      > span {
         font-size: 2.2rem;
         font-weight: $font_weight_extrabold;
         text-transform: uppercase;
         span {
            font-weight: 500;
         }
      }
   }
   &_library {
      margin-right: $spacing_s;
   }
   &_user {
      cursor: pointer;
      &_icon {
         display: inline-block;
         font-size: 2.5rem;
         font-weight: $font_weight_bold;
         line-height: 0;
         margin-left: $spacing_xxs;
         transform: rotate(90deg);
         transition: all $transition_duration;
         vertical-align: middle;
      }
      &:hover {
         color: $color_highlight_dark;
      }
   }
   &_nav {
      &_item {
         cursor: pointer;
         margin-left: $spacing_base;
         padding: $spacing_xs 0;
         &:hover {
            color: $color_highlight_dark;
         }
      }
   }
}