@import '../../variables';

.header {
   .container {
      align-items: center;
      border-bottom: 1px solid $color_base_light;
      display: flex;
      justify-content: space-between;
      margin-bottom: $spacing_base;
      padding-bottom: $spacing_base;
      padding-top: $spacing_base;
   }
   &_logo {
      font-size: 2.2rem;
      font-weight: 700;
      text-transform: uppercase;
      span {
         font-weight: $font_weight_bold;
      }
   }
   &_nav {
      &_item {
         cursor: pointer;
         margin-left: $spacing_base;
         padding: $spacing_xs 0;
      }
   }
}