@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
   flex-shrink: 0;
   position: relative;
   width: 100%;
   z-index: 10;
   .container {
      align-items: center;
      display: flex;
      font-size: $font_size_xs;
      font-weight: $font_weight_mediumBold;
      margin-top: $spacing_xxl;
      padding-bottom: $spacing_base;
      padding-top: $spacing_m;
      @include mobile {
         font-size: $font_size_xxs;
         margin-top: 0;
         padding-bottom: $spacing_s;
         padding-top: $spacing_s;
      }
   }
   &_copyright {
      margin-right: auto;
   }
   a {
      margin-left: $spacing_base;
      @include mobile {
         margin-left: $spacing_xs;
      }
      &:hover {
         color: $color_highlight_dark;
      }
   }
}