@import '../../variables';

.footer {
   .container {
      align-items: center;
      border-top: 1px solid $color_base_light;
      display: flex;
      font-size: $font_size_xs;
      justify-content: space-between;
      margin-top: $spacing_xxl;
      padding-bottom: $spacing_base;
      padding-top: $spacing_base;
   }
}