@import '../../styles/variables';

.collection {
	&_header {
		color: $color_base_medium;
		display: flex;
		font-size: $font-size_xs;
		margin-bottom: $spacing_s;
		> * {
			padding: 0 $spacing_base;
		}
	}
	.header {
		&_primaryData {
			width: 37%;
		}
		&_categories {
			text-align: center;
			width: 20%;
		}
		&_units {
			text-align: center;
			width: 13%;
		}
		&_actions {
			text-align: center;
			width: 30%;
		}
	}
	&_book {
		border-radius: $radius_m;
		cursor: pointer;
		display: flex;
		margin-bottom: $spacing_s;
		transition: all $transition_duration;
		&:hover {
			transform: scale(1.02);
			.book_cover {
				background-color: $color_background;
			}
		}
		> * {
			padding: $spacing_base;
		}
	}
	.book {
		&_primaryData {
			align-items: center;
			display: flex;
			width: 37%;
		}
		&_content {
			width: calc(100% - 70px - 15px);
		}
		&_cover {
			min-height: 70px;
			margin-right: $spacing_base;
			transition: all $transition_duration;
			width: 60px;
			img {
				border-radius: $radius_base;
				box-shadow: 0 2px 6px 0 $color_base_medium;
				display: block;
				width: 100%;
			}
		}
		&_title {
			font-weight: $font_weight_bold;
			line-height: $line_height_s;
			margin-bottom: $spacing_xs;
		}
		&_isbn, &_idCustom {
			font-size: $font_size_xs;
			line-height: $line_height_s;
			span {
				font-size: $font_size_xxs;
				font-weight: $font_weight_light;
				margin-right: 4px;
			}
		}
		&_category {
			align-self: center;
			text-align: center;
			width: 20%;
			span {
				background-color: $color_background;
				border-radius: $radius_s;
				font-size: $font_size_xs;
				font-weight: $font_weight_mediumBold;
				padding: 2px $spacing_xs 4px;
			}
		}
		&_units {
			align-self: center;
			font-weight: $font_weight_mediumBold;
			text-align: center;
			width: 13%;
			span {
				color: $color_base_medium;
				font-size: $font_size_xxs;
			}
		}
		&_actions {
			align-self: center;
			text-align: center;
			width: 30%;
			.button {
				margin: 0 4px;
			}
		}
	}
}