@import '../../mixins';

.signup {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   h2 {
      font-size: $font_size_base;
      font-weight: $font_weight_extrabold;
      margin-bottom: $spacing_xxs;
      text-transform: uppercase;
      width: 100%;
      &:not(:first-of-type) {
         margin-top: $spacing_l;
      }
   }
   &_error {
      @include formErrorMessage;
   }
   .button {
      margin-left: $spacing_xs;
      &:first-of-type {
         margin-left: auto;
      }
   }
   .button_inverse {
      margin-left: initial !important;
      margin-right: auto;
   }
}