@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600&display=swap');

/* Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
a, body, button, div, form, h1, h2, h3, h4, h5, h6, html, input, label, legend, li, ol, p, select, span, table, textarea, ul {
	background-color: transparent;
	border: 0;
	color: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	outline: 0;
	vertical-align: baseline;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}
a {
	text-decoration: none;
}
button, input, select, textarea {
	appearance: none;
	font-family: $font_family;
}


/* Basic */
html {
	font-size: 62.5%;
	min-height: 100%;
}
body {
	color: $color_base;
	font-family: $font_family;
	font-size: 14px;
	font-size: $font_size_base;
}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 1024px; // ?? Cambiar
}
.hide {
	display: none !important;
}