@import './variables';

@mixin formErrorMessage {
   background-color: $color_error_light;
   border-radius: $radius_base;
   color: $color_error;
   margin-top: $spacing_base;
   padding: $spacing_s;
   text-align: center;
   width: 100%;
}